@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bad Jokes Application</h1>
    <p>Not the worst but they are really BAD jokes! You will find here several kind of bad jokes to use on your fancy parties...</a>.</p>
</div>
